<?xml version="1.0" encoding="UTF-8"?>
<!-- IIS / LiteSpeed (htaccess kapalıysa): bu klasördeki hiçbir dosyaya
     tarayıcıdan erişilemez. Apache için aynı işi .htaccess yapar. -->
<configuration>
  <system.webServer>
    <authorization>
      <deny users="*" />
    </authorization>
    <directoryBrowse enabled="false" />
    <handlers accessPolicy="None" />
  </system.webServer>
</configuration>
